{% extends 'doctor1-header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Slot Views</title>
</head>
<body>
    <h5 style="color: red;">{{msg}}</h5>
    <table class="table table-striped table-dark">
        <thead>
          <tr>
            <th scope="col">User</th>
            <th scope="col">Weeks</th>
            <th scope="col">TimeSlot</th>
            <th scope="col">Description</th>
            <th colspan="3" class="text-center">Action</th>
            <th scope="col">Status</th>

          </tr>
        </thead>
        <tbody>
            {% for one in many %}
        {% if one.slot.doctor_id == request.user %}
          <tr>
              <td>{{one.user.first_name}}</td>
              {% if one.weeks == 0 %}
            <td>Monday</td>
            {% elif one.weeks == 1 %}
            <td>Tuesday</td>
            {% elif one.weeks == 2 %}
            <td>Wednesday</td>
            {% elif one.weeks == 3 %}
            <td>Thrusday</td>
            {% elif one.weeks == 4 %}
            <td>Friday</td>
            {% elif one.weeks == 5 %}
            <td>Saturday</td>
            {% else %}
            <td>Sunday</td>
            {% endif %}

            {% if one.slot.timeslot == 0 %}
            <td>09:00 am To 10:00 am</td>
            {% elif one.slot.timeslot == 1 %}
            <td>10:00 am TO 11:00 am</td>
            {% elif one.slot.timeslot == 2 %}
            <td>11:00 am To 12:00 am</td>
            {% elif one.slot.timeslot == 3 %}
            <td>12:00 am To 01:00 pm</td>
            {% elif one.slot.timeslot == 4 %}
            <td>02:00 pm To 03:00 pm</td>
            {% elif one.slot.timeslot == 5 %}
            <td>03:00 pm To 04:00 pm</td>
            {% elif one.slot.timeslot == 6 %}
            <td>04:00 pm To 05:00 pm</td>
            {% endif %}

            <td>{{one.description}}</td>
            <td><a href="{% url 'complete-status' one.id %}"><button class="btn btn-success"><i class="">Complete</i></button></a>  </td> 
            <td><a href="{% url 'absent-status' one.id %}"><button class="btn btn-warning"><i class="">Absent</i></button></a>  </td>
            <td><a href="{% url 'cancel-status' one.id %}"><button class="btn btn-danger"><i class=""></i>Cancelled</button></a>  </td>  
            {% if one.status == 0 %}
            <td><strong>Pending</strong></td>
            {% elif one.status == 1 %}
            <td><strong>Complete</strong></td>
            {% elif one.status == 2 %}
            <td>Absent</td>
            {% else %}
            <td>Cancelled</td>
            {% endif %}
          </tr>
          {% endif %}
          {% endfor %}
         
          </tbody>
      </table> 

</body>
</html>

{% endblock %}