{% extends 'doctor_header.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>List Of Patiences</h2>
  <h5><strong>TOTAL PATIENCE : </strong>{{many.count}}</h5>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Email</th>
        <th>Role</th>
        <th>Address</th>
        <th colspan="2">Action</th>
      </tr>
    </thead>
    <tbody>
        {% for one in many %}
      <tr>
        <td>{{one.first_name}}</td>
        <td>{{one.email}}</td>
        <td>{{one.roles}}</td>
        <td>{{one.address}}</td>
        <td><a href="{% url 'delete_patience' one.id %}"><button class="btn btn-danger"><i class=""></i>DELETE</button></a>  </td> 
        <td><a href="{% url 'update_patience' one.id %}"><button class="btn btn-warning"><i class=""></i>Edit</button></a>  </td> 
        
      </tr>
      {% endfor %}
      
    </tbody>
  </table>
</div>

</body>
</html>
{% endblock %}

